:root{
    --bg-color:#FFEE50;
}

*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior:smooth;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    /* adjust the font weight and size by yourself in every element */
}

::-webkit-scrollbar {
    display: none;
}

body{
    background-color: #FFEFE3;
}

a,button{
    text-decoration: none;
    cursor: pointer;
}

ul{
    list-style: none;
}


header {
    position: fixed;
    background: var(--bg-color);
    width: 1400px;
    /* margin: 25px auto 0; */
    top: 25px;
    border-radius: 45px;
    border: 4px solid black;
    height: 100px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    z-index: 1;
  }
  
  .header-content {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    max-width: 1360px;
    width: 100%;
  }

 .logo-links{
    display: flex;
    flex-direction: row;
    align-items: center;
 }

.header-content img{
    height: 70px;
   
    padding-right: 35px;
}

.nav-list{
    display: flex;
    gap: 20px;
}
.nav-list a{
    font-size: 24px;
}
.header-nav-buttons{
    /* margin-left: auto; */
    
    display: flex;
    gap: 10px;
}
.header-nav-buttons button{
    padding: 10px;
    border-radius: 25px;
    border: 5px solid black;
    background: white;
}
.header-nav-buttons button:hover{
    background: darkgrey;
    transition: background .5s;
}
.header-nav-list a:hover{
    color: #3ba904;
    transition: color .5s;
}
.request-game-button{
    background: #C5FFA8 !important;
}
.request-game-button:hover{
    background: #55ff00 !important;
}


/* ------------------footer---------- */

footer{
    bottom: 0;
    display: flex;
    width: auto;
    margin: 30px;
    background: red;
    height: 180px;
    box-shadow: -20px 20px 2px black;
}
.footer-left-side{
    background: var(--bg-color);
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 30px;
    border: 5px solid black;
    border-right: 2.7px solid;
    align-items: center;
    justify-content: center;
}
.footer-left-side img{
    height: 80px;
}
.footer-right-side{
    background: #FF87AB;
    width: 100%;
    padding: 30px;
    border: 5px solid black;
    border-left: 2.7px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}
.footer-right-side h1{
    margin: 0;
}
.email-and-button input[type=email]{
    height: auto;
    width: 80%;
    padding: 10px;
    font-size: 20px;
    border: 5px solid black;
}
/* their div
.email-and-button{ 
    /* this }*/

.email-and-button button{
    width: 50px;
    height: 50px;
    /* this */
}