.div-one{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.home-window{
    background: #FFFCE1;
    height: 600px;
    width: 800px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    overflow: hidden;
    border: 5px solid black;
}
.home-window-header{
    background: #77B8F4;
    height: 60px;
    display: flex;
    padding: 20px;
    align-items: center;
    width: auto;
    justify-content: space-between;
}
.circles-div{
    display: flex;
    gap: 10px;
}
.home-window-header .line{
    width: 130px;
    border: 7px solid rgb(73, 73, 73);
    border-radius: 50px;
}
.circles-div .circle{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid black;
}
.circles-div .item1{
    background: rgb(235, 235, 235);
}
.circles-div .item2{
    background: #C5FFA8;
}
.circles-div .item3{
    background: red;
}

.home-window-body{
    position: relative;
    /* background-image: url("Images/home-window.svg"); */
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.home-window-body img{
    position: absolute;
    top: 10px;
    pointer-events: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}
.home-window-buttons{
    position: absolute;
    display: flex;
    gap: 20px;
    z-index: 1;
    top:350px ;
}
.home-window-buttons button{
    font-size: 40px !important;
    padding: 10px;
    border-radius: 25px;
    border: 5px solid black;
    background: white;
    box-shadow: 5px 5px 0px black ;
}
.home-window-buttons button:hover{
    background: darkgrey;
    transition: background .5s;
}
.home-window-buttons .button1{
    background: #C05435;
}
.home-window-buttons .button2{
    background: #48ECE2;
}
