:root{
    --bg-color:#FFEE50;
}

*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior:smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* adjust the font weight and size by yourself in every element */
}

/* body{

} */

a,button{
    text-decoration: none;
    cursor: pointer;
}
ul{
    list-style: none;
}

.header-container{
    display: flex;
    background: var(--bg-color);
    margin: 30px;
    border-radius: 45px;
    border: 4px solid black;
    padding: 10px;
    height: 110px;
    box-sizing: border-box;
    align-items: center;
}
.header-container img{
    height: 75px;
    padding-left: 15px;
    padding-right: 25px;
}

.header-nav-list{
    display: flex;
    gap: 20px;
}
.header-nav-list a{
    color: black;
    font-size: 24px;
}
.header-nav-buttons{
    float: right;
    margin-left: auto;
    display: flex;
    gap: 10px;
}
.header-nav-buttons button{
    font-size: 25px;
    padding: 10px;
    border-radius: 25px;
    border: 5px solid black;
    background: white;
}
.header-nav-buttons button:hover{
    background: darkgrey;
    transition: background .5s;
}
.header-nav-list a:hover{
    color: #3ba904;
    transition: color .5s;
}
.request-game-button{
    background: #C5FFA8 !important;
}
.request-game-button:hover{
    background: #55ff00 !important;
}




